APP_DISPLAY_NAME = Ente Self-Hosted
ASSETCATALOG_COMPILER_APPICON_NAME = IconGreen
CLANG_ENABLE_MODULES = YES
CODE_SIGN_ENTITLEMENTS = Runner/SelfHostedRunner.entitlements
CODE_SIGN_IDENTITY = Apple Development
CODE_SIGN_STYLE = Automatic
CURRENT_PROJECT_VERSION = 11
CUSTOM_GROUP_ID = group.com.vanton1.ente.photos.selfhosted
DEVELOPMENT_TEAM = $(SELF_HOSTED_DEVELOPMENT_TEAM)
ENABLE_BITCODE = NO
FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Flutter
INFOPLIST_FILE = Runner/Info.plist
INFOPLIST_KEY_CFBundleDisplayName = Ente Self-Hosted
IPHONEOS_DEPLOYMENT_TARGET = 14.0
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/Flutter
MARKETING_VERSION = 0.0.11
PRODUCT_BUNDLE_IDENTIFIER = com.vanton1.ente.photos.selfhosted
PRODUCT_NAME = $(TARGET_NAME)
PROVISIONING_PROFILE_SPECIFIER =
SWIFT_ENABLE_EXPLICIT_MODULES = NO
SWIFT_OBJC_BRIDGING_HEADER = Runner/Runner-Bridging-Header.h
SWIFT_VERSION = 5.0
TARGETED_DEVICE_FAMILY = 1,2
VERSIONING_SYSTEM = apple-generic
